<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta
          name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Email Verification</title>
</head>
<body>
<h3>Hi, <span th:text="${name}" th:remove="tag">Legend</span></h3>

<div>To verify your email, use the link below</div>

<div>
  <a th:href="${url}" target="_blank">
    <span th:text="${url}" th:remove="tag"></span>
  </a>
</div>
</body>
</html>
