<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome!</title>
  </head>
  <body>
    <h3>Hi, <span th:text="${name}" th:remove="tag">Legend</span></h3>

    <div>Welcome to the app!</div>

    <div>To continue your registration, use the code below</div>

    <div>
      <span th:text="${code}" th:remove="tag"></span>
    </div>
  </body>
</html>
